<footer>
  <div class="container">
    <div class="footer-up">
      <div class="row">
        <div class="col-md-5">
          <h2>
            Get the latest <br />
            Updates
          </h2>
        </div>
        <div class="col-md-7">
          <form action="#">
            <div class="ftrnews">
              <input
                class="input-nz"
                type=""
                value=""
                placeholder="Enter your email"
              />
              <button class="nz-btn btn">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-mid">
      <div class="row">
        <div class="col-md-3">
          <div class="ftr-logo">
            <img
              class="ftr-logo-img"
              src="/assets/images/ftr-logo.png"
              alt=""
            />
          </div>
          <h3 class="ftr-phone">
            <span>Book Online Or Call</span>
            <strong>(000) 000 - 0000</strong>
          </h3>
          <ul class="ftr_social">
            <li>
              <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#linkedin"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#twitter"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#instagram"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="ftr-menu">
                <h4>About Us</h4>
                <ul class="ftr_links">
                  <li><a [routerLink]="['/']">Home</a></li>
                  <li><a [routerLink]="['/about-us']">About Us</a></li>
                  <li><a [routerLink]="['/faqs']">FAQs</a></li>
                  <li><a [routerLink]="['/how-it-works']">How It Works</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-6">
              <div class="ftr-menu">
                <h4>Resource</h4>
                <ul class="ftr_links">
                  <li><a href="javascript:;">Register as Provider</a></li>
                  <li><a href="javascript:;">Sign In as Provider</a></li>
                  <li><a href="javascript:;">Register as Customer</a></li>
                  <li><a href="javascript:;">Sign In as Customer</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-cpy">
      <div class="row row-address">
        <div class="col-md-6">
          <p>Copyright © 2024 Vero Services. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-right">
          <p>
            <a [routerLink]="['/terms-and-conditions']">Terms of Service</a> |
            <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
