<div class="bread-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="sep">&gt;</li>
          <li><span>FAQs</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>FAQs</h1>
      </div>
    </div>
  </div>
</div>
<section class="content-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 about-sec">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a
                class="card-link"
                data-toggle="collapse"
                href="#faq1"
                aria-expanded="true"
              >
                What is Vero 1 Handyman Services?
              </a>
            </div>
            <div
              id="faq1"
              class="collapse show"
              data-parent="#accordion"
              style=""
            >
              <div class="card-body">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry’s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a
                class="collapsed card-link"
                data-toggle="collapse"
                href="#faq2"
              >
                What does it cost?
              </a>
            </div>
            <div id="faq2" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry’s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#faq3"
                aria-expanded="false"
              >
                How do I pay for the service?
              </a>
            </div>
            <div id="faq3" class="collapse" data-parent="#accordion" style="">
              <div class="card-body">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry’s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#faq4"
                aria-expanded="false"
              >
                What is Vero 1 Handyman Services?
              </a>
            </div>
            <div id="faq4" class="collapse" data-parent="#accordion" style="">
              <div class="card-body">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry’s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a
                class="collapsed card-link"
                data-toggle="collapse"
                href="#faq5"
              >
                What is Vero 1 Handyman Services?
              </a>
            </div>
            <div id="faq5" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry’s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a
                class="collapsed card-link"
                data-toggle="collapse"
                href="#faq6"
              >
                What is Vero 1 Handyman Services?
              </a>
            </div>
            <div id="faq6" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry’s
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
