<div class="dash-left">
  <div class="dash-logo">
    <img
      src="http://veroser.ziczacapps.com/assets/images/dashboard-logo.png"
      alt=""
    />
  </div>
  <div class="dash-menu">
    <ul>
      <li>
        <a [routerLink]="['/provider-dashboard']"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon1.png"
              alt=""
          /></i>
          Dashboard</a
        >
      </li>
      <li>
        <a [routerLink]="['/gigs-listing/provider']"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon1.png"
              alt=""
          /></i>
          Gigs</a
        >
      </li>
      <li>
        <a [routerLink]="['/provider-jobs']"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon2.png"
              alt=""
          /></i>
          My Jobs</a
        >
      </li>
      <li>
        <a [routerLink]="['/provider-profile']"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/pays-ico-1.png"
              alt=""
          /></i>
          My Profile</a
        >
      </li>
      <!-- <li>
        <a href="http://veroser.ziczacapps.com/vendor/reviews.php/"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon3.png"
              alt=""
          /></i>
          My Reviews</a
        >
      </li>
      <li>
        <a href="http://veroser.ziczacapps.com/vendor/payment.php/"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon4.png"
              alt=""
          /></i>
          Payment History</a
        >
      </li>
      <li>
        <a href="http://veroser.ziczacapps.com/vendor/wallet.php/"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon5.png"
              alt=""
          /></i>
          Wallet</a
        >
      </li>
      <li>
        <a href="http://veroser.ziczacapps.com/vendor/bankdetails.php/"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon6.png"
              alt=""
          /></i>
          Bank Details</a
        >
      </li> -->
      <li>
        <a href="javascript:;" (click)="logout()"
          ><i
            ><img
              src="http://veroser.ziczacapps.com/assets/images/dmenu-icon7.png"
              alt="" /></i
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
