<div class="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 dash-left-area">
        <app-provider-menu></app-provider-menu>
      </div>

      <div class="col-md-9 dash-right-area">
        <div class="dash-9inn">
          <app-provider-header></app-provider-header>
          <div class="dash-4spot">
            <div class="row">
              <div class="col-md-3">
                <div class="dast-4item d41">
                  <h5>860 <span>Total days</span></h5>
                  <div class="dash-4ico">
                    <img
                      src="http://veroser.ziczacapps.com/assets/images/dast-ico1.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dast-4item d42">
                  <h5>860 <span>New days</span></h5>
                  <div class="dash-4ico">
                    <img
                      src="http://veroser.ziczacapps.com/assets/images/dast-ico2.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dast-4item d43">
                  <h5>860 <span>Total Rewiews</span></h5>
                  <div class="dash-4ico">
                    <img
                      src="http://veroser.ziczacapps.com/assets/images/dast-ico3.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dast-4item d44">
                  <h5>860 <span>Total Revenue</span></h5>
                  <div class="dash-4ico">
                    <img
                      src="http://veroser.ziczacapps.com/assets/images/dast-ico4.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="dash-chart">
            <h4>Revenue</h4>
            <img
              src="http://veroser.ziczacapps.com/assets/images/dashboard-chart.png"
              alt=""
            />
          </div>

          <div class="dash-table">
            <h4>Recent Jobs</h4>
            <div class="table-dash show" id="alljobs">
              <table class="table-list">
                <tbody>
                  <tr>
                    <th>S.No</th>
                    <th>Customer Name</th>
                    <th>Service</th>
                    <th>Contact</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>

                  <tr>
                    <td>1.</td>
                    <td>
                      <div class="dash-ico">
                        <img
                          src="http://veroser.ziczacapps.com/assets/images/dast-thumb.png"
                          alt=""
                        />
                        <h6>Simon Lewis <span>Customer</span></h6>
                      </div>
                    </td>
                    <td>Cleaning Service</td>
                    <td>+1 (908) 1234 567</td>
                    <td>4311 Locust View Drive</td>
                    <td><span class="dt-span pending">Pending</span></td>
                    <td class="ellipse-anch">
                      <i class="fa fa-ellipsis-v"></i>
                      <div class="ellipse-list">
                        <ul>
                          <li>
                            <a href="javascript:;"
                              ><i
                                ><img
                                  src="http://veroser.ziczacapps.com/assets/images/pend-ico1.png"
                                  alt=""
                              /></i>
                              View Job Details</a
                            >
                          </li>
                          <li>
                            <a href="javascript:;"
                              ><i
                                ><img
                                  src="http://veroser.ziczacapps.com/assets/images/pend-ico2.png"
                                  alt=""
                              /></i>
                              Accept Job</a
                            >
                          </li>
                          <li>
                            <a href="javascript:;"
                              ><i
                                ><img
                                  src="http://veroser.ziczacapps.com/assets/images/pend-ico3.png"
                                  alt=""
                              /></i>
                              View Job Details</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>2.</td>
                    <td>
                      <div class="dash-ico">
                        <img
                          src="http://veroser.ziczacapps.com/assets/images/dast-thumb.png"
                          alt=""
                        />
                        <h6>Simon Lewis <span>Customer</span></h6>
                      </div>
                    </td>
                    <td>Cleaning Service</td>
                    <td>+1 (908) 1234 567</td>
                    <td>4311 Locust View Drive</td>
                    <td><span class="dt-span accepted">Accepted</span></td>
                    <td class="ellipse-anch">
                      <i class="fa fa-ellipsis-v"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>3.</td>
                    <td>
                      <div class="dash-ico">
                        <img
                          src="http://veroser.ziczacapps.com/assets/images/dast-thumb.png"
                          alt=""
                        />
                        <h6>Simon Lewis <span>Customer</span></h6>
                      </div>
                    </td>
                    <td>Cleaning Service</td>
                    <td>+1 (908) 1234 567</td>
                    <td>4311 Locust View Drive</td>
                    <td><span class="dt-span completed">Completed</span></td>
                    <td class="ellipse-anch">
                      <i class="fa fa-ellipsis-v"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>4.</td>
                    <td>
                      <div class="dash-ico">
                        <img
                          src="http://veroser.ziczacapps.com/assets/images/dast-thumb.png"
                          alt=""
                        />
                        <h6>Simon Lewis <span>Customer</span></h6>
                      </div>
                    </td>
                    <td>Cleaning Service</td>
                    <td>+1 (908) 1234 567</td>
                    <td>4311 Locust View Drive</td>
                    <td><span class="dt-span cancelled">Cancelled</span></td>
                    <td class="ellipse-anch">
                      <i class="fa fa-ellipsis-v"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>5.</td>
                    <td>
                      <div class="dash-ico">
                        <img
                          src="http://veroser.ziczacapps.com/assets/images/dast-thumb.png"
                          alt=""
                        />
                        <h6>Simon Lewis <span>Customer</span></h6>
                      </div>
                    </td>
                    <td>Cleaning Service</td>
                    <td>+1 (908) 1234 567</td>
                    <td>4311 Locust View Drive</td>
                    <td><span class="dt-span accepted">Accepted</span></td>
                    <td><i class="fa fa-ellipsis-v"></i></td>
                  </tr>

                  <tr>
                    <td>6.</td>
                    <td>
                      <div class="dash-ico">
                        <img
                          src="http://veroser.ziczacapps.com/assets/images/dast-thumb.png"
                          alt=""
                        />
                        <h6>Simon Lewis <span>Customer</span></h6>
                      </div>
                    </td>
                    <td>Cleaning Service</td>
                    <td>+1 (908) 1234 567</td>
                    <td>4311 Locust View Drive</td>
                    <td><span class="dt-span accepted">Accepted</span></td>
                    <td><i class="fa fa-ellipsis-v"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
