<section class="howit-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>How Vero Services Works</h4>
        <h1>
          Home care, <br />
          simplified
        </h1>
        <p>
          Find trusted pros and fair pricing for any home project — <br />
          and get the job done right, guaranteed.
        </p>
        <a class="btn btn-orange" href="javascript:;">Star a Project</a>
      </div>
    </div>
  </div>
</section>
<section class="howit-sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="hsef-left heading">
          <h2>Tell us what your home needs</h2>
          <p>
            From routine maintenance and repairs to dream home renovations, we
            can help with any project — big or small.
          </p>

          <h5>Book home services in an instant.</h5>
          <p>
            Get the help you need — when you need it — with upfront pricing and
            instant booking for plumbing, cleaning and more.
          </p>

          <h5>Stay on top of routine upkeep.</h5>
          <p>
            Easily schedule home care and maintenance projects to keep your home
            looking fresh and running smoothly year-round.
          </p>

          <h5>Bring your dream home to life.</h5>
          <p>
            Find information and inspiration to kick-start bigger home projects
            — and connect with trusted pros to bring your visions to life.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <img
          src="/assets/images/app-mob.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section class="howit-third">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="howit-le">
          <h2>Peace of Mind Home Services: Your home is 100% Safe</h2>
          <p>
            Peace of Mind Home Services: 100% Safe for Your Beloved home.
            Gentle, expert care with guaranteed well-being. Trust our dedicated
            team!
          </p>

          <a class="btn btn-orange" href="javascript:;">Star a Project</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="howit1ul">
          <ul>
            <li>
              <div class="howitblk">
                <div class="howithumb">
                  <img
                    src="/assets/images/b-ico1.png"
                    alt=""
                  />
                </div>
                <div class="howitxt">
                  <h5>ID Badged</h5>
                  <p>
                    Provided lots of businesses to choose from and allowed me to
                    get a&nbsp;competitive price.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="howitblk">
                <div class="howithumb">
                  <img
                    src="/assets/images/b-ico2.png"
                    alt=""
                  />
                </div>
                <div class="howitxt">
                  <h5>DBS Checked</h5>
                  <p>
                    Provided lots of businesses to choose from and allowed me to
                    get a&nbsp;competitive price.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="howitblk">
                <div class="howithumb">
                  <img
                    src="/assets/images/b-ico3.png"
                    alt=""
                  />
                </div>
                <div class="howitxt">
                  <h5>Fully Insured</h5>
                  <p>
                    Provided lots of businesses to choose from and allowed me to
                    get a&nbsp;competitive price.
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="howitblk">
                <div class="howithumb">
                  <img
                    src="/assets/images/b-ico4.png"
                    alt=""
                  />
                </div>
                <div class="howitxt">
                  <h5>Professionally Trained</h5>
                  <p>
                    Provided lots of businesses to choose from and allowed me to
                    get a&nbsp;competitive price.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="howit-frth">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-1">
        <img
          class="howthumb"
          src="/assets/images/howf1.jpg"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="howitrm">
          <img
            class="howico"
            src="/assets/images/howic1.png"
            alt=""
          />
          <h3>Booking Online</h3>
          <p>
            With 25+ years of experience, we are the go-to experts for all your
            handyman service requirements. Trust in our skill and
            professionalism for top-notch results. With 25+ years of experience,
            we are the go-to experts for all your handyman service requirements.
            Trust in our skill and professionalism for top-notch results.
          </p>
          <a class="btn btn-orange" href="javascript:;">Star a Project</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img
          class="howthumb"
          src="/assets/images/howf2.jpg"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="howitrm">
          <img
            class="howico"
            src="/assets/images/howic2.png"
            alt=""
          />
          <h3>Confirmation</h3>
          <p>
            With 25+ years of experience, we are the go-to experts for all your
            handyman service requirements. Trust in our skill and
            professionalism for top-notch results. With 25+ years of experience,
            we are the go-to experts for all your handyman service requirements.
            Trust in our skill and professionalism for top-notch results.
          </p>
          <a class="btn btn-orange" href="javascript:;">Star a Project</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 order-1">
        <img
          class="howthumb"
          src="/assets/images/howf3.jpg"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="howitrm">
          <img
            class="howico"
            src="/assets/images/howic3.png"
            alt=""
          />
          <h3>Estimate Details</h3>
          <p>
            With 25+ years of experience, we are the go-to experts for all your
            handyman service requirements. Trust in our skill and
            professionalism for top-notch results. With 25+ years of experience,
            we are the go-to experts for all your handyman service requirements.
            Trust in our skill and professionalism for top-notch results.
          </p>
          <a class="btn btn-orange" href="javascript:;">Star a Project</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img
          class="howthumb"
          src="/assets/images/howf4.jpg"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="howitrm">
          <img
            class="howico"
            src="/assets/images/howic4.png"
            alt=""
          />
          <h3>Complete Work</h3>
          <p>
            With 25+ years of experience, we are the go-to experts for all your
            handyman service requirements. Trust in our skill and
            professionalism for top-notch results. With 25+ years of experience,
            we are the go-to experts for all your handyman service requirements.
            Trust in our skill and professionalism for top-notch results.
          </p>
          <a class="btn btn-orange" href="javascript:;">Star a Project</a>
        </div>
      </div>
    </div>
  </div>
</section>
