<div class="dash-search">
  <form class="dash-sform" action="#">
    <input
      class="hd-search-input form-control"
      name="search_input"
      type="text"
      placeholder="Search (Ctrl+/)"
    />
  </form>
  <ul>
    <li><div class="flags"></div></li>
    <li>
      <a class="btn-cart" href="javascript:;">
        <span class="cart-count">0</span>
        <img
          src="http://veroser.ziczacapps.com/assets/images/dash-bell.png"
          alt=""
      /></a>
    </li>
    <li>
      <a class="btn-green" href="javascript:;"
        ><img
          src="http://veroser.ziczacapps.com/assets/images/dash-user.png"
          alt=""
      /></a>
    </li>
  </ul>
</div>
