<div class="bread-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="sep">&gt;</li>
          <li><span>Privacy Policy</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Privacy Policy</h1>
      </div>
    </div>
  </div>
</div>
<section class="content-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-sec">
          <h4>1. Information we collect</h4>
          <p>
            When you visit our website and application, our servers may
            automatically log the standard data provided by your web browser. It
            may include your computer’s Internet Protocol (IP) address, your
            browser type and version, the pages you visit, the time and date of
            your visit, the time spent on each page, and other details.
          </p>

          <h4>Device data</h4>
          <p>
            We may also collect data about the device you’re using to access our
            website and application. This data may include the device type,
            operating system, unique device identifiers, device settings, and
            geo-location data. What we collect can depend on the individual
            settings of your device and software. We recommend checking the
            policies of your device manufacturer or software provider to learn
            what information they make available to us.
          </p>

          <hr />

          <h4>2. Device data</h4>

          <p>
            We may also collect data about the device you’re using to access our
            website and application. This data may include the device type,
            operating system, unique device identifiers, device settings, and
            geo-location data. What we collect can depend on the individual
            settings of your device and software. We recommend checking the
            policies of your device manufacturer or software provider to learn
            what information they make available to us.
          </p>

          <ul class="check_ico">
            <li>Modify or copy the materials.</li>
            <li>
              Use the materials for any commercial purpose, or for any public
              display (commercial or non-commercial).
            </li>
            <li>
              Attempt to decompile or reverse engineer any software contained on
              Kalypso App website and application or application.
            </li>
            <li>
              Remove any copyright or other proprietary notations from the
              materials.
            </li>
            <li>
              Transfer the materials to another person or “mirror” the materials
              on any other server.
            </li>
          </ul>

          <p>
            This license shall automatically terminate if you violate any of
            these restrictions and may be terminated by Traer LTD. at any time.
            Upon terminating your viewing of these materials or upon the
            termination of this license, you must destroy any downloaded
            materials in your possession whether in electronic or printed
            format.
          </p>

          <hr />

          <h4>3. Personal information</h4>
          <p>
            Business data refers to data that accumulates over the normal course
            of operation on our platform. This may include transaction records,
            stored files, user profiles, analytics data and other metrics, as
            well as other types of information, created or generated, as users
            interact with our services.
          </p>

          <h4>2. Legal bases for processing</h4>
          <p>
            We will process your personal information lawfully, fairly and in a
            transparent manner. We collect and process information about you
            only where we have legal bases for doing so. These legal bases
            depend on the services you use and how you use them, meaning we
            collect and use your information only where:
          </p>

          <ul class="check_ico">
            <li>
              <i class="fas fa-check"></i> It’s necessary for the performance of
              a contract to which you are a party or to take steps at your
              request before entering into such a contract (for example, when we
              provide a service you request from us);
            </li>
            <li>
              <i class="fas fa-check"></i> It satisfies a legitimate interest
              (which is not overridden by your data protection interests), such
              as for research and development, to market and promote our
              services, and to protect our legal rights and interests;
            </li>
            <li>
              <i class="fas fa-check"></i> You give us consent to do so for a
              specific purpose (for example, you might consent to us sending you
              our newsletter); or
            </li>
            <li>
              <i class="fas fa-check"></i> We need to process your data to
              comply with a legal obligation.
            </li>
          </ul>

          <p>
            The materials on Kalypso App website and application and application
            are provided on an ‘as is’ basis. Traer LTD. makes no warranties,
            expressed or implied, and hereby disclaims and negates all other
            warranties including, without limitation, implied warranties or
            conditions of merchantability, fitness for a particular purpose, or
            non-infringement of intellectual property or other violation of
            rights.
          </p>

          <p>
            Further, Kalypso LTD. does not warrant or make any representations
            concerning the accuracy, likely results, or reliability of the use
            of the materials on its website and application or otherwise
            relating to such materials or on any sites linked to this site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
