<div class="bread-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li><a href="javascript:;">Home</a></li>
          <li class="sep">&gt;</li>
          <li><span>Profile</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Profile</h1>
      </div>
    </div>
  </div>
</div>
<div class="pro-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pro-head">
          <div class="pro-left-thumb">
            <img
              src="https://demo.aspenproperties.com.au/verojob/assets/images/user.jpg"
              alt=""
            />
          </div>
          <div class="pro-right-txt">
            <h3>
              Simon Lewis <span>Update your photo and personal Details</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="basic-head">
          <h4>Basic Info</h4>
          <a class="btn" href="javascript:;">Edit Profile</a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="profile_form">
          <form action="#">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label form="fname">First Name:</label>
                  <div class="form-wrap">
                    <input
                      type="text"
                      class="form-control"
                      value=""
                      placeholder="Mark"
                    />
                    <i class="fa fa-user"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label form="fname">Last Name:</label>
                  <div class="form-wrap">
                    <input
                      type="text"
                      class="form-control"
                      value=""
                      placeholder="Doughan"
                    />
                    <i class="fa fa-user"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label form="fname">Email:</label>
                  <div class="form-wrap">
                    <input
                      type="email"
                      class="form-control"
                      value=""
                      placeholder="markDoughan@gmail.com"
                    />
                    <i class="fa fa-envelope"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label form="fname">Phone Number:</label>
                  <div class="form-wrap">
                    <input
                      type="text"
                      class="form-control"
                      value=""
                      placeholder="+11 333 698563"
                    />
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label form="password">Password:</label>
                  <div class="form-wrap">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="password-field"
                      value="Password"
                      placeholder=""
                    />
                    <i
                      toggle="#password-field"
                      class="fa fa-eye toggle-password"
                    ></i>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label form="password">&nbsp; </label>
                <button class="btn btn-default pf-btn">Submit</button>
              </div>
            </div>

            <div class="row my-connect"></div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="social-conn">
          <h4>Social Connections</h4>
          <p>Help Collectors verify account by connecting Twitter</p>

          <ul>
            <li>
              <h5>
                <img
                  src="https://demo.aspenproperties.com.au/verojob/assets/images/twitterx.png"
                  alt=""
                />
                Twitter
              </h5>
              <a class="btn" href="javascript:;">Connect</a>
            </li>
            <li>
              <h5>
                <img
                  src="https://demo.aspenproperties.com.au/verojob/assets/images/linkedin.png"
                  alt=""
                />
                Linkedin
              </h5>
              <a class="btn" href="javascript:;">Connect</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
