<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-left">
        <h1>
          Find top-rated certified pros <br />
          in your area.
        </h1>
        <p>
          Book expert home service provider at a moment's notice. <br />
          Just pick a time and we'll do the rest.
        </p>
        <div class="banner-news">
          <form class="news-feed">
            <div class="news-select">
              <i class="fas fa-search"></i>
              <select class="news-sblk">
                <option selected="">Zip Code</option>
                <option>10100</option>
                <option>10101</option>
                <option>10102</option>
                <option>10103</option>
                <option>10104</option>
                <option>10105</option>
              </select>
            </div>
            <div class="news-block">
              <i class="fas fa-map-marker-alt"></i>
              <input
                class="news-bar"
                type="text"
                placeholder="How can we help?"
              />
              <button class="news-btn" type="submit" value="Search">
                <i class="fa fa-search"></i> Search
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner-thumb">
          <img src="/assets/images/banner-thumb.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="category-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading center">
        <h2>Our Popular Categories</h2>
      </div>
    </div>

    <div class="row">
      <div class="col" *ngFor="let item of categories">
        <div class="cat_item">
          <a class="cat_anch" href="javascript:;"></a>
          <div class="cat_img">
            <img src="{{ item.icon_url }}" alt="" />
          </div>
          <h5>{{ item.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="op_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading center">
        <h2>Our Partners</h2>
      </div>
      <div class="col-md-12">
        <div class="del_btns">
          <ul>
            <li>
              <img src="/assets/images/comp1.png" alt="" />
            </li>
            <li>
              <img src="/assets/images/comp2.png" alt="" />
            </li>
            <li>
              <img src="/assets/images/comp3.png" alt="" />
            </li>
            <li>
              <img src="/assets/images/comp4.png" alt="" />
            </li>
            <li>
              <img src="/assets/images/comp5.png" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="years_exp">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="years-left">
          <div class="heading white">
            <h2>
              Over 25+ Year of <br />
              Experience In all kind of <br />
              Home Services
            </h2>
            <p>
              With 25+ years of experience, we are the go-to experts for all
              your handyman service requirements. Trust in our skill and
              professionalism for top-notch results
            </p>
          </div>

          <ul class="hqlist">
            <li>
              <strong>High Quality Work</strong>
              <p>At vero eos et accusamus et iusto odio dignissimos.</p>
            </li>
            <li>
              <strong>Qualified team</strong>
              <p>At vero eos et accusamus et iusto odio dignissimos.</p>
            </li>
          </ul>
          <a href="javascript:;" class="btn btn-blue">More About Us</a>
        </div>
      </div>

      <div class="col-md-5">
        <img src="/assets/images/over25.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="howit_work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading center">
        <h2>How it works</h2>
        <p>
          Nunc pellentesque aliquam leo leo ipsum tellus elit et adipiscing
          mauris laoreet sed turpis in purus turpis in lectus amet nisl leo
          ipsum tellus elit et adipiscing mauris laoreet sed turpis in purus
          turpis in lectus amet nisl
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="howit">
          <a class="howanch" href="javascript:;"></a>
          <img class="howico" src="/assets/images/step1.png" alt="" />
          <h5>Booking Online</h5>
          <p>Competently repurpose forward conveniently target fixed</p>
        </div>
      </div>

      <div class="col">
        <div class="howit">
          <a class="howanch" href="javascript:;"></a>
          <img class="howico" src="/assets/images/step2.png" alt="" />
          <h5>Confirmation</h5>
          <p>Competently repurpose forward conveniently target fixed</p>
        </div>
      </div>

      <div class="col">
        <div class="howit">
          <a class="howanch" href="javascript:;"></a>
          <img class="howico" src="/assets/images/step3.png" alt="" />
          <h5>Estimate Details</h5>
          <p>Competently repurpose forward conveniently target fixed</p>
        </div>
      </div>

      <div class="col">
        <div class="howit hlast">
          <a class="howanch" href="javascript:;"></a>
          <img class="howico" src="/assets/images/step4.png" alt="" />
          <h5>Complete Works</h5>
          <p>Competently repurpose forward conveniently target fixed</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="apps_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 heading white">
        <div class="app-right">
          <h2>
            Get the best experience in <br />
            award winning Vero app
          </h2>
          <p>
            Your one-stop app for finding the best handyman <br />
            services in your area.
          </p>
          <ul>
            <li>
              <a href="#"
                ><img class="store_1" src="/assets/images/appstore.png" alt=""
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  class="store_1"
                  src="/assets/images/googleplay.png"
                  alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="app_phone">
          <img src="/assets/images/mob-half.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="del_section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="/assets/images/fix-left.png" alt="" />
      </div>
      <div class="col-md-6">
        <div class="heading del_right">
          <h2>Fixed Price Service</h2>
          <ul class="fps-list">
            <li>
              <img src="/assets/images/oicons1.png" alt="" />
              See your price.
            </li>
            <li>
              <img src="/assets/images/oicons2.png" alt="" />
              Book a time
            </li>
            <li>
              <img src="/assets/images/oicons3.png" alt="" />
              Pay online
            </li>
          </ul>
          <h3>
            Looking to book a <br />
            <span>Fixed Price Service</span>?
          </h3>
          <p>Plumbing, Handyman, House Cleaning, and more...</p>
          <a class="btn btn-blue" href="javascript:;">Shop Services</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lets_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lets_right">
          <h2>
            Grow your business <br />
            with us. Become a <br />
            Vero Pro today.
          </h2>
          <a class="btn btn-orange" href="javascript:;">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
